/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-jun-2016, 11:18:08
    Author     : LuisGuillermo
*/


/*Estilos Base*/
/*Estilos Base*/
/*ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-state-hover ui-state-active*/
.btn-guardar{
    height:35px;
    border: 1px solid #50a050 !important;
    font-size: 15px !important;
    box-shadow: 0 1px 0 white inset, 0 1px 2px white !important;
    background: -webkit-linear-gradient(top, #50a050 0%,#5db75c 100%) !important;
    box-shadow: 0 4px 0 #50a050 inset, 0 1px 2px rgba(0,0,0,0.2) !important; 
}
.btn-guardar:hover{
    border: 1px solid #50a050 !important;
    font-size: 16px !important;
    background: -webkit-linear-gradient(top, #50a050 100%,#50a050 100%) !important;
}

.btn-consultar{
    height:35px;
    border: 1px solid #438bc9 !important;
    font-size: 15px !important;
    background: -webkit-linear-gradient(top, #438bc9 20%,#009cff 100%);
}
.btn-consultar:hover{
    border: 1px solid #438bc9 !important;
    font-size: 16px !important;
    background: -webkit-linear-gradient(top, #438bc9 100%,#438bc9 100%) !important;
}

.btn-nuevo{
    height:35px;
    border: 1px solid #a94442 !important;
    font-size: 15px !important;
    background: -webkit-linear-gradient(top, rgb(197, 80, 80) 100%,rgb(245, 50, 50) 0%) !important;
}
.btn-nuevo:hover{
    border: 1px solid #a94442 !important;
    font-size: 16px !important;
    background: -webkit-linear-gradient(top, #a94442 100%,#a94442 100%) !important;
}

.btn-editar{
    height:35px;
    font-size: 15px !important;
    border: 1px solid #cc8a19 !important;
    background: -webkit-linear-gradient(top, #ea980b 0%,#debb56 100%) !important;
}
.btn-editar:hover{
    border: 1px solid #cc8a19 !important;
    font-size: 16px !important;
    background: -webkit-linear-gradient(top, #ea980b 0%,#ea980b 100%) !important;
}

.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
    box-shadow: 0 1px 0 white inset, 0 1px 2px rgba(25,25,5,0.2) !important; 
}

.ui-button:focus,button.ui-button.ui-state-focus{
    border-color:rgba(0,0,0,0.35) !important;
    color:#FFF !important;
    text-shadow:0 -1px 0 #216ea6 !important;
    box-shadow:0 1px 0 rgba(255,255,255,0.2) inset, 0 1px 3px rgba(0,0,0,0.35) !important;
    background:rgba(0,0,0,0.35) !important;
}



.fieldset1 {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
    border-bottom-width:1px
        ;
}
#contenido {
    position: relative;
    width: 640px;
    height: auto;
    margin: 20px auto;
    border: 12px solid #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(50,50,50 0.5);
}
.img_wrapper {
    position: relative;
    width: 75%;
    height: auto;
    margin: 5 5% 0 auto;
    border: 12px solid #fff;
    border-radius: 0px;
    box-shadow: 1px 1px 5px rgba(50,50,50 0.5);
    float: left;
}
#images {
    width: 400px;
    height: 250px;
    overflow: hidden;
    position: relative;

    margin: 10px auto;
}
#images img {
    width: 400px;
    height: 250px;

    position: absolute;
    top: 0;
    left: -400px;
    z-index: 1;
    opacity: 0;

    transition: all linear 500ms;
    -o-transition: all linear 500ms;
    -moz-transition: all linear 500ms;
    -webkit-transition: all linear 500ms;
}
#images img:target {
    left: 0;
    z-index: 9;
    opacity: 1;
}
#images img:first-child {
    left: 0;
    opacity: 1;
}
#slider{
    display:table-cell;
    vertical-align:middle;

}
#slider img:hover {
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}
.padre {
    background-color: #fafafa;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    /* IMPORTANTE */
    text-align: center;
/*    background: blue;*/
}
.contenedor-img {
    width: 300px;
    height: 200px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff;
}

#panel-group {
    background: red;
    margin-bottom: 10px;
}
/*botones primefaces TAMAÑOS*/
.pbtn-sm .ui-button-text{
    padding:5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.pbtn-xs .ui-button-text{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.pbtn-lg .ui-button-text{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}


/*botones primefaces COLORES*/
.pbtn-success .ui-button-text{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.pbtn-primary .ui-button-text:hover{
    background-color: #4cae4c;
}
.pbtn-warning .ui-button-text{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.pbtn-primary .ui-button-text:hover{
    background-color: #eea236;
}
.pbtn-primary .ui-button-text{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.pbtn-primary .ui-button-text:hover{
    background-color: #2e6da4;
}
.pbtn-info .ui-button-text{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.pbtn-info .ui-button-text:hover{
    background-color: #46b8da;
}
.pbtn-danger .ui-button-text{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.pbtn-danger .ui-button-text:hover{
    background-color: #d43f3a;
}

.pbtn .ui-button-text{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;

    user-select: none;
}


.contenedor-img .mascara,.contenedor-img .contenido {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.contenedor-img img {
    display: block;
    position: relative;

}
.contenedor-img h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.9);
    margin: 20px 0 0 0
}
.contenedor-img p {
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 10px;
    text-align: center
}
.contenedor-img a.link {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #222;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.contenedor-img a.link:hover {
    box-shadow: 0 0 5px #000
}
.ejemplo-1 img {
    transition: all 0.2s linear;
}
.ejemplo-1 .mascara {
    opacity: 0;
    background-color: rgba(0, 0, 11, 0.5);
    transition: all 0.3s ease-in-out;
}
.ejemplo-1 h2 {
    transform: translateX(-200px);/*Desplazamos a la izquierda*/
    opacity: 0;
    transition: all 0.7s ease-in-out;
}
.ejemplo-1 p {
    transform: translateX(200px);/*Desplazamos a la derecha*/
    opacity: 0;
    transition: all 0.4s linear;
}
.ejemplo-1 a.link{
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: translateY(100px)/*Desplazamos para abajo*/
}
.ejemplo-1:hover img {
    transform: scale(1.1);/*Damos un ligero zoom a la imagen*/
}
.ejemplo-1:hover .mascara {
    opacity: 1;
}
.ejemplo-1:hover h2,
.ejemplo-1:hover p,
.ejemplo-1:hover a.link {
    opacity: 1;
    transform: translateX(0px);/*Regresamos a las posiciones originales*/
}
.ejemplo-1:hover p {
    transition-delay: 0.1s;
}
.ejemplo-1:hover a.link {
    transition-delay: 0.2s; /*Aplicamos un pequeño retardo para que se muestre al final*/
    transform: translateY(0px);
}
.ui-datatable thead th, .ui-datatable tfoot td {
    text-align: center;
    font-size: 14;
}
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
    padding: 4px 10px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    font-size: 12px;
}
/*.ui-widget-content{
    background-color: transparent;
    border:none !important;
} */



.panel-group .panel {
    background-color: transparent;
    border:none !important;
    margin-bottom: 2px;
}

.ir-arriba {
    display:none;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.botom-grupo-bordes{
    border-radius:0px 20px 20px 0px;
    padding-bottom: 11px;
}
.input-grupo-bordes{
    border-radius:0px 0px 0px 0px;
}
.select-grupo-bordes{
    background: red;
    border: none !important;
    thin:solid #444444;
    border-radius:0px 0px 0px 0px;
}


